.back_ground{
    background-color: #e47615;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titre_principale{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: rgb(246, 187, 114);
    text-decoration: underline;

}


