.back_ground{
    background-color: #294e21;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.titre_principale{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: rgb(155, 93, 17);
    text-decoration: underline;

}