.back_ground{
    background-color: #8c1384;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titre_principale{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: rgb(238, 111, 221);
    text-decoration: underline;

}